$_main_color: #ffffff;
$_title_color: #f4c542;
$_pretitle_color: #fffbf4;
$_header_color: #292929;
$_header_accent_color: #e63946;
$_reviews_title_color: #292929;
$_reviews_main_color: rgba(0, 0, 0, 0.5);
