<section id="about" class="about-section">
  <div class="container about-wrapper">
    <img src="./img/about/diamond-about.png" alt="diamond" class="diamond-img" >
    <span class="pretitle about-pretitle">about</span>
    <h2 class="title about-title">About the game</h2>
    <p class="about-text">Castle Craft: Merge Quest is a unique blend of strategy, adventure, and merging mechanics. As a ruler of a crumbling kingdom, your mission is to rebuild your castle, gather a powerful army, and defend your land from looming threats. Unlock treasures, discover new territories, and write your legacy in this epic merge quest.</p>
    <img src="./img/about/chest.png" alt="chest" class="chest-img" width="102" height="85">
  </div>
</section>
