<section id="benefits" class="benefits-section">
  <div class="container benefits-wrapper">
    <span class="pretitle">Advantages</span>
    <h2 class="title benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item item-top">
        <img src="./img/benefits/blue-diamond.png" alt="blue diamond" class="benefit-img blue-diamond-img">
        <h3 class="benefit-subtitle">Strategic Gameplay</h3>
        <p class="benefit-descr">Plan your moves and merges to create the strongest resources and allies.</p>
      </li>
      <li class="benefits-item item-top">
        <img src="./img/benefits/steel.png" alt="steel" class="benefit-img steel-img">
        <h3 class="benefit-subtitle">Rich Storyline</h3>
        <p class="benefit-descr">Dive into an immersive medieval tale filled with intrigue and adventure.</p>
      </li>
      <li class="benefits-item item-bt">
        <img src="./img/benefits/potion.png" alt="potion" class="benefit-img potion-img">
        <h3 class="benefit-subtitle">Endless Merging</h3>
        <p class="benefit-descr">Merge everything from tools to mythical creatures for endless fun.</p>
      </li>
      <li class="benefits-item item-bt">
        <img src="./img/benefits/heart.png" alt="heart" class="benefit-img heart-img">
        <h3 class="benefit-subtitle">Breathtaking Visuals</h3>
        <p class="benefit-descr">Stunning medieval landscapes and detailed character designs.</p>
      </li>
      <li class="benefits-item item-last">
        <img src="./img/benefits/star.png" alt="star" class="benefit-img star-img">
        <h3 class="benefit-subtitle">Casual and Engaging</h3>
        <p class="benefit-descr">Perfect for players who love a mix of relaxation and strategy.</p>
      </li>
      
    </ul>
  </div>
</section>
