<section id="features" class="features-section">
  <div class="container features-container">
    <span class="pretitle features-pretitle">Designed with You in Mind</span>
    <h2 class="title features-title">Unique Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <div class="img-container">
          <img
            src="./img/features/frame-1-mob.png"
            alt="feature"
            class="features-img"
          />
          <div class="overlay">
            <p class="features-descr">
              Unlock new lands, each with unique resources, characters, and
              stories.
            </p>
          </div>
        </div>
      </li>
      <li class="features-item">
        <div class="img-container">
          <img src="./img/features/frame-2-mob.png" alt="feature" class="features-img" />
          <div class="overlay">
            <p class="features-descr">
            Merge and upgrade parts of your castle to restore its former glory.
          </p>
          </div>
        </div>
      </li>
      <li class="features-item">
        <div class="img-container">
          <img src="./img/features/frame-3-mob.png" alt="feature" class="features-img" />
          <div class="overlay">
            <p class="features-descr">
            Recruit legendary heroes by merging items and uncover their unique
            skills.
          </p>
          </div>
        </div>
      </li>
      <li class="features-item">
        <div class="img-container">
          <img src="./img/features/frame-4-mob.png" alt="feature" class="features-img" />
          <div class="overlay">
            <p class="features-descr">
            Face daily quests, hidden treasures, and unpredictable enemies.
          </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
