<section class="container gallery">
  <div class="gallery_content_container">
    <div class="title_container">
      <p class="pretitle gallery">Screenshots</p>
      <h2 class="title">Gallery</h2>
    </div>
    <p class="text gallery">
      Embark on a journey with the game CastleBuild, where you choose resources
      and uncover the secrets of time. Return to the land shrouded in fog and
      use ancient keys to open hidden territories and find your lost family.
    </p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../img/gallery_1.png" alt="Image 1" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_2.png" alt="Image 2" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_3.png" alt="Image 3" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_4.png" alt="Image 1" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_5.png" alt="Image 1" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_6.png" alt="Image 1" />
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery_7.png" alt="Image 1" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
