<header class="header container">
  <div class="logo-container">
    <img class="logo-img" src="./img/logo.png" alt="logo" />
  </div>
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
      <li class="nav-item">
        <a href="#about" class="nav-link">About the game</a>
      </li>
      <li class="nav-item">
        <a href="#benefits" class="nav-link">Benefits</a>
      </li>
      <li class="nav-item">
        <a href="#features" class="nav-link">Unique Features</a>
      </li>
      <li class="nav-item"><a href="#gallery" class="nav-link">Gallery</a></li>
      <li class="nav-item">
        <a href="#how-to-play" class="nav-link">How to Play</a>
      </li>
      <li class="nav-item"><a href="#why-us" class="nav-link">Why Us</a></li>
      <li class="nav-item"><a href="#reviews" class="nav-link">Reviews</a></li>
    </ul>
  </nav>
  <button class="burger-menu">
    <img
      src="./img/burger.png"
      alt="burger-menu"
      class="menu-btn"
      width="24"
      height="24"
    />
  </button>
</header>

<div class="backdrop container">
  <div class="backdrop-menu">
    <button class="close-btn">
      <img src="./img/close.png" alt="X" width="24" height="24" />
    </button>
    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a href="#about" class="mob-nav-link">About the game</a>
        </li>
        <li class="mob-nav-item">
          <a href="#benefits" class="mob-nav-link">Benefits</a>
        </li>
        <li class="mob-nav-item">
          <a href="#features" class="mob-nav-link">Unique Features</a>
        </li>
        <li class="mob-nav-item">
          <a href="#gallery" class="mob-nav-link">Gallery</a>
        </li>
        <li class="mob-nav-item">
          <a href="#how-to-play" class="mob-nav-link">How to Play</a>
        </li>
        <li class="mob-nav-item">
          <a href="#why-us" class="mob-nav-link">Why Us</a>
        </li>
        <li class="mob-nav-item">
          <a href="#reviews" class="mob-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <img src="./img/castle.png" alt="castle" width="148" height="148" />
  </div>
</div>
