<section id="home" class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Castle Craft: <br />
        Merge Quest
      </h1>
      <p class="hero-text">
        Build your kingdom, merge to conquer, and embark on an epic adventure!
      </p>
      <div class="btn-wrapper">
        <a
          class="play-btn"
          href="https://play.google.com/store/apps/details?id=com.playinfinity.game.mergecastle&hl=en&gl=us&pli=1"
          target="_blank"
          >Play Now on Google Play</a
        >
        <a
          class="watch-btn"
          href="https://www.youtube.com/watch?v=RuPUInLVRI4"
          target="_blank"
        >
          <img class="play-img" src="./img/hero/play.png" alt="play" />
          Watch Video
        </a>
      </div>
    </div>
  </div>
</section>
