<section class="container how_to_play">
  <p class="pretitle how_to_play">Help</p>
  <h2 class="title how_to_play">How to play</h2>
  <ul class="how_to_list">
    <li class="how_to_list_item">
      <div class="how_to_list_container">
        <h3 class="how_to_list_title">Merge items</h3>
        <p class="how_to_text">
          Combine identical items to create more powerful versions.
        </p>
      </div>
      <div class="img_container">
        <img class="how_to_img" src="../img/how_to_play_1.png" alt="" />
      </div>
    </li>
    <li class="how_to_list_item">
      <div class="how_to_list_container">
        <h3 class="how_to_list_title">Built your castle</h3>
        <p class="how_to_text">
          Use merged resources to upgrade and expand your kingdom
        </p>
      </div>
      <div class="img_container">
        <img class="how_to_img" src="../img/how_to_play_2.jpg" alt="" />
      </div>
    </li>
    <li class="how_to_list_item">
      <div class="how_to_list_container">
        <h3 class="how_to_list_title">Recruit heroes</h3>
        <p class="how_to_text">
          Merge items to unlock and level up powerful allies.
        </p>
      </div>
      <div class="img_container">
        <img class="how_to_img" src="../img/how_to_play_3.webp" alt="" />
      </div>
    </li>
    <li class="how_to_list_item">
      <div class="how_to_list_container">
        <h3 class="how_to_list_title">Defend and conquer</h3>
        <p class="how_to_text">
          Strategically deploy your heroes to win battles and unlock new lands.
        </p>
      </div>
      <div class="img_container">
        <img class="how_to_img" src="../img/how_to_play_4.webp" alt="" />
      </div>
    </li>
    <li class="how_to_list_item">
      <div class="how_to_list_container">
        <h3 class="how_to_list_title">Complete quests</h3>
        <p class="how_to_text">
          Solve puzzles, fulfill tasks, and gather treasures to progress your
          kingdom.
        </p>
      </div>
      <div class="img_container">
        <img class="how_to_img" src="../img/how_to_play_5.png" alt="" />
      </div>
    </li>
  </ul>
</section>
