<section id="reviews" class="reviews">
  <div class="container">
    <div class="title_container">
      <p class="pretitle">Feedback</p>
      <h2 class="title">Reviews</h2>
    </div>
    <div class="swiper_reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stars_container">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
          </div>
          <div class="review_content_container">
            <h3 class="review_title">Cool!</h3>
            <p class="review_text">An incredible blend of merging and kingdom-building. Addictive and fun!</p>
          </div>
          <div class="review_autor_container">
            <img class="review_autor_photo" src="img/reviews/review_photo_1.png" alt="">
            <p class="review_autor_nickname">MergeKing</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="stars_container">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
          </div>
          <div class="review_content_container">
            <h3 class="review_title">Perfect game</h3>
            <p class="review_text">Perfect balance of strategy and relaxation. Highly recommend!</p>
          </div>
          <div class="review_autor_container">
            <img class="review_autor_photo" src="img/reviews/review_photo_2.png" alt="">
            <p class="review_autor_nickname">Strategist123</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="stars_container">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
          </div>
          <div class="review_content_container">
            <h3 class="review_title">Stunning views</h3>
            <p class="review_text">The merging mechanics are so satisfying, and the graphics are stunning.</p>
          </div>
          <div class="review_autor_container">
            <img class="review_autor_photo" src="img/reviews/review_photo_3.png" alt="">
            <p class="review_autor_nickname">CastleCrafter</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="stars_container">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
            <img class="star_icon" src="img/reviews/star_icon.png" alt="Star">
          </div>
          <div class="review_content_container">
            <h3 class="review_title">Must PLAY!</h3>
            <p class="review_text">Building my castle and unlocking heroes feels so rewarding. A must-play</p>
          </div>
          <div class="review_autor_container">
            <img class="review_autor_photo" src="img/reviews/review_photo_4.png" alt="">
            <p class="review_autor_nickname">FantasyFan</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
