<section id="why-us" class="why_us">
  <div class="container">
    <div class="title_container">
      <p class="pretitle">Why us?</p>
      <h2 class="title">Why Choose Castle Craft: Merge Quest?</h2>
    </div>
    <ul class="why_us_list">
      <li class="why_us_item">
        <div class="why_us_container">
          <p class="why_us_item_number">01/</p>
          <img class="diamond_img" src="img/why_us/diamond_2.png" alt="" />
        </div>
        <div>
          <h4 class="why_us_item_title">Engaging Gameplay</h4>
          <p class="why_us_item_text">
            A perfect mix of merging, building, and storytelling.
          </p>
        </div>
      </li>
      <li class="why_us_item">
        <div class="why_us_container">
          <p class="why_us_item_number">02/</p>
          <img class="diamond_img" src="img/why_us/diamond_3.png" alt="" />
        </div>
        <div>
          <h4 class="why_us_item_title">Creative Freedom</h4>
          <p class="why_us_item_text">
            Shape your castle and kingdom the way you want.
          </p>
        </div>
      </li>
      <li class="why_us_item">
        <div class="why_us_container">
          <p class="why_us_item_number">03/</p>
          <img class="diamond_img" src="img/why_us/diamond_4.png" alt="" />
        </div>
        <div>
          <h4 class="why_us_item_title">Community Events</h4>
          <p class="why_us_item_text">
            Participate in global events and leaderboards for exciting rewards.
          </p>
        </div>
      </li>
      <li class="why_us_item">
        <div class="why_us_container">
          <p class="why_us_item_number">04/</p>
          <img class="diamond_img" src="img/why_us/diamond_5.png" alt="" />
        </div>
        <div>
          <h4 class="why_us_item_title">Continuous Updates</h4>
          <p class="why_us_item_text">
            Regularly added content ensures there's always something new to
            explore.
          </p>
        </div>
      </li>
      <li class="why_us_item">
        <div class="why_us_container">
          <p class="why_us_item_number">05/</p>
          <img class="diamond_img" src="img/why_us/diamond_6.png" alt="" />
        </div>
        <div>
          <h4 class="why_us_item_title">Perfect for All Ages</h4>
          <p class="why_us_item_text">
            Accessible mechanics make it enjoyable for both young and mature
            players.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
