.header {
  position: fixed;
  z-index: 999;
  background-color: $_header_bg_color;
  display: flex;
  padding: 8px 0;
  align-items: center;
  gap: 202px;

  @include media(desktop) {
    gap: 81px;
    padding: 8px 0;
  }
}

.header-wrapper {
  display: flex;
  position: fixed;
  z-index: 999;
}

.logo-img {
  height: 36px;

  @include media(desktop) {
    height: 56px;
  }
}

.header-nav {
  display: none;

  @include media(desktop) {
    display: flex;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  @include font(16, 24);
  color: $_header_color;
  transition: transform 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
  font-weight: 600;
  transform: scale(1.1);
}

.burger-menu {
  border: none;
  background-color: transparent;

  @include media(desktop) {
    display: none;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translate(100%);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient(46deg, #49a3f8 0%, #2b6092 100%);
}

.wrap {
  display: flex;
  justify-content: center;
}

.backdrop-menu {
  position: relative;
  padding: 48px 48px 12px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: $_main_color;
}

.mob-nav {
  display: flex;
  gap: 16px;
  margin-bottom: 11px;
}

.mob-nav-list {
  text-align: center;
}

.mob-nav-item {
  padding: 8px;
}

.mob-nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: $_main_color;

  text-shadow: 1px 2px 4px 0 #2a7db4;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: $_header_accent_color;
}

.backdrop {
  display: none;
}

.underheader {
  height: 52px;
  width: 320px;
  background: $_header_bg_color;

  @include media(desktop) {
    height: 72px;
    width: 1200px;
  }
}

.noscroll {
  overflow: hidden;
}
