.reviews{
  background: linear-gradient(180deg, #1F4F1C, #193D16);
  padding: 40px 0 48px;

  @include media(desktop){
    padding: 80px 0;
  }
}

.swiper_reviews{
  overflow: hidden;
  height: 294px;
  @include media(desktop){
    height: 407px;
  }
}

.swiper_reviews .swiper-wrapper{
  height: 262px;
  @include media(desktop){
    height: 351px;
  }
}

.swiper_reviews .swiper-slide{
  width: 288px;
  height: 262px;
  box-sizing: border-box;
  background-color: $_header_bg_color;
  border-radius: 17.2px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  color: $_header_color;
  @include media(desktop) {
    width: 331px;
    height: 316px;
    padding: 32px 24px;
  }
}

.swiper_reviews .swiper-slide.swiper-slide-active{
  @include media(desktop) {
      width: 330px;
      height: 351px;
    }
}

.stars_container{
  display: flex;
  gap: 16px;
}

.star_icon{
  width: 20px;
  @include media(desktop){
    width: 24px;
  }
}

.review_content_container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper-slide-active .review_content_container{
  @include media(desktop){
    height: 100%;
  }
}

.review_title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  @include media(desktop){
    font-size: 24px;
  }
}

.review_text{
  color: $_reviews_main_color;
}

.review_autor_container{
  display: flex;
  gap: 17.2px;
  align-items: center;
}

.review_autor_photo{
  width: 48px;
  @include media(desktop){
    width: 64px;
  }
}

.review_autor_nickname{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.84;
  @include media(desktop){
    font-size: 19.35px;
    line-height: 1.33;
  }
}

.swiper_reviews .swiper-pagination {
  position: relative !important;
  margin-top: 22px;
  @include media(desktop){
    margin-top: 42px;
  }

}

.swiper_reviews .swiper-pagination-bullet {
  background: #FFFFFF4D !important;
}

.swiper_reviews .swiper-pagination-bullet-active {
  background: #FFFFFF !important;
}
