@import 'header.scss';
@import 'hero.scss';
@import 'about.scss';
@import 'benefits.scss';
@import 'features.scss';
@import 'gallery.scss';
@import 'how-to-play.scss';
@import 'why-us.scss';

:root {
  font-family: 'Poppins', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 320px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;

  @include media(desktop) {
    width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  color: $_title_color;
  text-align: center;
  @include media(desktop) {
    font-size: 40px;
  }
}

.pretitle {
  border: 1px solid rgba(255, 149, 0, 1);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 8px 16px;
  color: $_pretitle_color;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 3px;

  @include media(desktop) {
    font-size: 14px;
  }
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.is-open {
  transform: translate(0);
}

